---
import BlogHeadlineColumn from "./BlogHeadlineColumn.astro";

const {posts} = Astro.props
---

<div class="grid grid-cols-1 sm:grid-cols-3 gap-10">
    {
        posts.map((post) => 
            <a href={`/blog/${post.slug}/`}>
                <BlogHeadlineColumn 
                    title={post.data.title} 
                    description={post.data.description} 
                    src={post.data.heroImage}/>
							
            </a>)
    }
</div>
